<div class="Admin">
  <h1 class="Admin-title">ADMIN</h1>
</div>

  <div class="Dash" >
  <form method="get" action="/users/1" method="GET">
    <button class="Dash-button" type="submit">DASHBOARD </button>
</form>
<form method="get" action="/menu/new" method="GET">
  <button class="Dash-button" type="submit">Manage Menus </button>
</form>
<form method="get" action="/users/1" method="GET">
  <button class="Dash-button" type="submit">Manage Users </button>
</form>
<form method="get" action="/users/1" method="GET">
  <button class="Dash-button" type="submit">Manage Orders</button>
</form>
<form method="get" action="/users/1" method="GET">
  <button class="Dash-button" type="submit">My account </button>
</form>
</div>
