 <h1 class ="Cafeteria-title">Made with Love</h1>
  <p class="Cafeteria-authenticate">Don't have an account yet ? <%= link_to "Sign up", new_user_path %> </p>
  <p class="Cafeteria-authenticate"> Have an account just <%= link_to "Sign in", new_sessions_path %> with your Eat'Up-account</p>
