
.MenuPageTitle{

  line-height: 2;
  font-size: 30px;
  background-color: antiquewhite;
  padding-left: 450px;


}
.MenuSection{

    padding: 20px;
    background-color: aliceblue;
    width: 410px;
    margin: 30px 50px;

}
.MenuSection-title{
  font-size: 35px;
  color: chocolate;
}
.MenuItem{
  list-style: decimal;
  margin-left: 40px;


}
.MenuItem-list{
  padding: 5px;
  font-size: 20px;
}
.MenuItem-container{
  display: inline-flex;
  padding: 5px;
  align-items: center;
}
.Menu{
  display: flex;
}
.MenuItem-price{
  margin-left: 15px;
  font-size: 16px;
  color: darkblue;
  padding: 4px;
}
.MenuItem-quantity{

width: 30px;

height: 19px;

}

.User-credentials{
  font-size: 25px;
  padding: 5px;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 450px;


}
.MenuBar-button
{
  background-color: brown;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.MenuBar-button:hover{
  background-color: darkred;
}
.Menus{
  border-left-style: solid;

border-top-width: 3px;

border-top-style: solid;

border-right-width: 5px;

border-right-style: solid;

border-bottom-width: 5px;

  border-left-width: 4.8px;
border-bottom-style: solid;
border-left-color: brown;
border-right-color: brown;
border-top-color: brown;
    border-bottom-color: brown;
}
.MenuBar{
  display: flex;
background-color: linen;
}

.MenuItem-list:hover {
  background-color: rgb(194, 243, 243) ;
}

.MenuItem-list:hover .AddButton{
  visibility: visible;
}


.MenuContent{
display: flex;
}
.MenuContent-image{
  height: 700px;
  width: 300px;
}
.AddButton {
  visibility: hidden;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 15px;
  cursor: pointer;
}
.NewMenu{
  display: flex;
}
