<footer>
  <div>
    <h2>For more information about Eat-up</h2>
    <h3>Mail us at &nbsp
      <span>gvkprasad2001@gmail.com &nbsp</span>
      and &nbsp
      <span>dinesh@gmail.com</span></h3>
  </div>
  <hr>
  <div>
    Connect:
    <address>
      <p>
        Eat-up,2
        <sup>nd</sup>
        floor,Star-city Mall
        <br>
        wild-west street,Amsterdam.
      </p>
      <p>
        Reach us at
        <a href="https://www.youtube.com/watch?v=QcIy9NiNbmo">Eat-up.co</a>
        .
      </p>
    </address>
  <div>
  <hr>
    &copy; Eat-up.com | Designed by dinesh and kp
  </div>
</footer>
